# Supabase
SUPABASE_URL=https://xxxxxxxxxxxx.supabase.co
SUPABASE_ANON_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxx
SUPABASE_SERVICE_ROLE_KEY=xxxxxxxxxxxxxxxxxx

# Remove.bg
REMOVEBG_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxx

# Servidor
PORT=3000
NODE_ENV=development
